@import "~bootstrap/scss/bootstrap.scss";

body {
  background-color: green;
}

.card .row {
  height: 150px;
}

h1 {
  font-size: 80px;
}

.card p {
  font-size: 60px;
}

.diamond {
  color: red;
}
.spade {
  color: black;
}
.club {
  color: black;
}
.heart {
  color: red;
}
